<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>
<body class="book-form">
	<h1>Book Form Page</h1>

	<form method="POST" action="/book/add">
		<input type="text" placeholder="title" name="title" />
		<input type="text" placeholder="authors" name="authors" />
		<button type="submit">save</button>
	</form>
</body>
</html>